*{
    box-sizing: border-box;
}
.container{
 background-color: yellow;
 width: 600px;
 height: 600px;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 10px 20px;
 justify-content: space-between;
 text-align: center;
 padding: 10px;
}
.item{
    background-color: orange;
    border: 1px solid red;
    width: 80px;
}